@{
    ViewData["Title"] = "Dango Accounting System";
    @inject Microsoft.Extensions.Configuration.IConfiguration configuration;
    var url = configuration["Urls:ReportUrl"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #66d9ff; color: white; ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Accounting</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1" style="color:white;">
                        <li class="nav-item ml-auto">
                            <a class="nav-link" asp-page="/App/Dashboard" style="color:white;">Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Customers
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Customers/ListCustomerInvoice">Invoices</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Customers/ListCustomerCreditNotes">Credit Notes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Customers/ListCustomerPayments">Payments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Customers/ListCustomerProducts">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Customers/ListCustomer">Customers</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Vendors
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Vendors/bill/ListBill">Bills</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Vendors/refund/ListRefunds">Refunds</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Vendors/ListPayment">Payments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Vendors/product/ListProduct">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Vendors/vendor/ListVendors">Vendors</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Accounting
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/ListAssets">Assets</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/ListAutoTransfers">Auto Transfers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/ListDefferredExpenses">Defferred Expenses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/ListDefferredRevenues">Defferred Revenues</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/ListJournalEntries">Journal Entries</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/ListLockDates">Lock Dates</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/Sales">Sales</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/Purchases">Purchases</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/BackCash">Back and Cash</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/GeneralLedger">General Ledger</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Accounting/PartnerLedger">Partner Ledger</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Reporting
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fProfitLossReport" target="_blank">Profit and Loss</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fBalanceSheet" target="_blank">Balance Sheet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fExecutiveSummery" target="_blank">Executive Summary</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fCashStatement" target="_blank">Cash Flow Statement</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fPartnerLedger" target="_blank">Partner Ledger</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fAgedReceivable" target="_blank">Aged Receivable</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fAgedPayable" target="_blank">Aged Payable</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fGeneralLedger" target="_blank">General Ledger</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="@url/Pages/Report.aspx?ItemPath=%2fReports%2fTaxReport" target="_blank">Tax Report</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Configurations
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListAccountCharts">Charts of Accounts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListAssetModel">Asset Models</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListBanks">Banks</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListDefferredExpenseModel">Defferred Expense Models</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListDefferredRevenueModels">Defferred Revenue Models</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListIncoTerm">Inco Terms</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListPaymentFollowupLevel">Payment Followup Levels</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListIPaymentTerm">Payment Term</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListJournals">Journals</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListProductCategory">Product Categories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/ListTaxes">Taxes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Configuration/EditSetting">Settings</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color:black;text-align:center;">
            &copy; Amtech Technologies Ltd@2021
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    @*<script src="~/plugins/ArgonDashboard/argon.min.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
