<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccountingSystem</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <link href="~/plugins/ionicon/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet" />
    <!-- Bootstrap 4 -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Tempusdominus Bootstrap 4 -->
    @*<link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">*@
    <!-- iCheck -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/plugins/jqvmap/jqvmap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <!-- bootstrap4-dialog -->
    <link href="~/plugins/bootstrap4-dialog/css/bootstrap-dialog.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    @*<link href="~/plugins/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@
    @*<link href="~/plugins/datatables/css/jquery.dataTables.min.css" />
        <link href="~/plugins/datatables-buttons/css/buttons.dataTables.min.css" />*@
    @*<link href="~/plugins/datatables-responsive/css/responsive.bootstrap4.css" rel="stylesheet" />*@

    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttonsb4/css/buttons.bootstrap4.min.css">

    <link href="~/plugins/jQuery-treetable/css/jquery.treetable.css" rel="stylesheet" />
    <link href="~/plugins/jQuery-treetable/css/jquery.treetable.theme.default.css" rel="stylesheet" />
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/plugins/bs-stepper/css/bs-stepper.min.css" rel="stylesheet" />
    <link href="~/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #875A7B;color:white;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Accounting</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1" style="color:white;">
                        <li class="nav-item ml-auto">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" style="color:white;">Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Customers
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Invoices">Invoices</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Credit Notes">Credit Notes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Payments">Payments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Follow-Up Reports</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="./Customers/ListCustomer">Customers</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Vendors
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Bills</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Refunds</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Payments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="./Vendors/ListVendors">Vendors</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Accounting
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Reporting
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:white;">
                                Configurations
                            </a>
                            <div class="dropdown" aria-labelledby="navbarDropdown">
								<ul class="dropdown-menu flex-grow-1">
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListAccountCharts">Charts of Accounts</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListAssetModel">Asset Models</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListBanks">Banks</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListDefferredExpenseModel">Defferred Expense Models</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListDefferredRevenueModels">Defferred Revenue Models</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListIncoTerm">Inco Terms</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListPaymentFollowupLevel">Payment Followup Levels</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListIPaymentTerm">Payment Term</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListJournals">Journals</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListProductCategory">Product Categories</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListReconciliationModel">Product Categories</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/ListTaxes">Taxes</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-page="./Configuration/EditSetting">Settings</a>
									</li>
								</ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color:black;text-align:center;">
            &copy; Amtech Technologies Ltd@2021
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="~/plugins/popper/umd/popper.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    @*<script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>*@
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>


    <script src="~/plugins/bootstrap4-dialog/js/bootstrap-dialog.js"></script>
    <script src="~/plugins/axios/axios.min.js"></script>
    <script src="~/plugins/ModalDialog/ModalDialog.js"></script>
    <script src="~/plugins/bootstrap-session-timeout/bootstrap-session-timeout.js"></script>
    <script src="~/plugins/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>

    @*<script src="~/plugins/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/jszip.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/pdfmake.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/vfs_fonts.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>*@
    @*<script src="~/plugins/datatables-responsive/js/dataTables.responsive.js"></script>*@
    @*<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.js"></script>*@

    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttonsb4/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttonsb4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


    <script src="~/plugins/jQuery-treetable/js/jquery.treetable.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.js"></script>

    <script src="~/plugins/xlsjs/dist/cpexcel.js"></script>
    <script src="~/plugins/xlsjs/shim.js"></script>
    <script src="~/plugins/xlsjs/xlsx.js"></script>
    <script src="~/plugins/xlsjs/jszip.js"></script>
    @*<script src="~/plugins/ArgonDashboard/argon.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
