@page
@model AccountingSystem.Pages.Vendors.product.EditProductModel
@{
}
<div class="modal-dialog" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px; max-width: 80%;" role="document">
    <form method="post">
        <div class="row">

        </div>
    </form>
</div>
    

