@page
@model AccountingSystem.Pages.Configuration.EditIPaymentTermModel
@{
}
<form method="post">
	<div class="modal-content hold-transition login-page">
		<div class="modal-header" ;color:white;text-align:center">
			<h5 class="modal-title w-100 text-center">Payment Term</h5>
		</div>
		<div class="modal-body">
			@if (!Model.Success)
			{
				<div class="alert-danger text-center">
					@Model.Message
				</div>
			}
			<div class="row">
				<div class="col-sm-4">
					Term
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="PaymentTerm.Term" class="form-control" placeholder="Term" />
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
			<button type="submit" class="btn btn-success">SAVE</button>
			<a class="btn btn-secondary" asp-page="./ListIPaymentTerm">BACK</a>
		</div>
	</div>
</form>
