@page
@model AccountingSystem.Pages.Configuration.EditAccountChartModel
@{
}
<form method="post">
	<div class="modal-content hold-transition login-page">
		<div class="modal-header" ;color:white;text-align:center">
			<h5 class="modal-title w-100 text-center">Chart of Account</h5>
		</div>
		<div class="modal-body">
			@if (!Model.Success)
			{
				<div class="alert-danger text-center">
					@Model.Message
				</div>
			}
			<div class="row">
				<div class="col-sm-4">
					Code
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="Account.Code" class="form-control" placeholder="Code" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Account Name
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="Account.Name" class="form-control" placeholder="Account Name" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Type
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="Account.Type">
							<option selected>Select Account type</option>
							@foreach (var type in Model.AccountTypes)
							{
								<option value="@type">@type</option>
							}
						</select>
					</div>
				</div>
			</div>
			@*<div class="form-check">
				<input class="form-check-input" type="radio" asp-for="Account.AllowReconciliation" value="Account.AllowReconciliation" id="allowReconciliation">
				<label class="form-check-label" for="allowReconciliation">
					Allow Reconciliation
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" asp-for="Account.Closed" value="Account.Closed" id="closed">
				<label class="form-check-label" for="closed">
					Closed
				</label>
			</div>*@
		</div>
		<div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
			<button type="submit" class="btn btn-success">SAVE</button>
			<a class="btn btn-secondary" asp-page="./ListAccountCharts">BACK</a>
		</div>
	</div>
</form>
