@page
@model AccountingSystem.Pages.Vendors.EditVendorModel
@{
}
<form method="post">
    <div class="modal-content hold-transition login-page">
        <div class="modal-header" ;color:white;text-align:center">
            <h5 class="modal-title w-100 text-center">Vendors Registration Form</h5>
        </div>
        <div class="modal-body">
            @if (!Model.Success)
            {
                <div class="alert-danger text-center">
                    @Model.Message
                </div>
            }

            <div class="col-sm-4">
                <div class="col-md-10">
                    <input id="Gender" name="Gender" value="Individual" type="radio">
                    Individual
                    <input id="Gender" name="Gender" value="Company" type="radio">
                    Company
                </div>
                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" style="height:30px;" autocomplete="off" />
                </div>
            </div>
            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="">Adress</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <input type="text" name="Street" class="form-control" id="Street" placeholder="Street..." style="height:30px;" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">

                                <input type="text" name="Street2" class="form-control" id="Street2" placeholder="Street2..." style="height:30px;" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" name="City" class="form-control" id="City" placeholder="City..." style="height:30px;" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">

                                            <input type="text" name="State" class="form-control" id="State" placeholder="State..." style="height:30px;" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="email" name="Zip" class="form-control" id="Zip" placeholder="Zip" style="height:30px;" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="email" name="Country" class="form-control" id="Country" placeholder="Country" style="height:30px;" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="">Phone</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="">Mobile</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="">Email</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="">Website Link</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <input type="text" name="Phone" class="form-control" id="Phone" placeholder="Phone" style="height:30px;" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">

                                <input type="text" name="Mobile" class="form-control" id="Mobile" placeholder="Mobile" style="height:30px;" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="email" name="Email" class="form-control" id="Email" placeholder="Email" style="height:30px;" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" name="Website" class="form-control" id="Website" placeholder="Website" style="height:30px;" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Tax ID</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">

                        <input type="text" name="tax" class="form-control" id="tax" placeholder="e.g BE0477472701" style="height:30px;" autocomplete="off" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Tags</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">

                        <input type="text" name="Tags" class="form-control" id="Tags" placeholder="Tags" style="height:30px;" autocomplete="off" />
                    </div>
                </div>
            </div>
            <!-- Nav tabs -->
            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                <div class="col-sm-0">
                    <div class="form-group">
                        <input id="Button1" class="btn btn-primary" data-toggle="collapse" data-target="#collapsecontact" aria-expanded="false" aria-controls="collapseExample" type="button" placeholder="Contact & Addresses" value="Contact & Addresses" />
                    </div>
                </div>
                <div class="col-sm-0">
                    <div class="form-group">

                        <input id="Button2" class="btn btn-primary" data-toggle="collapse" data-target="#collapseSales" aria-expanded="false" aria-controls="collapseExample" type="button" placeholder="Sales & Purchase" value="Sales & Purchase" />
                    </div>
                </div>
                <div class="col-sm-0">
                    <div class="form-group">

                        <input id="Button2" class="btn btn-primary" data-toggle="collapse" data-target="#collapseAccounting" aria-expanded="false" aria-controls="collapseExample" type="button" placeholder="Accounting" value="Accounting" />
                    </div>
                </div>
                <div class="col-sm-0">
                    <div class="form-group">

                        <input id="Button2" class="btn btn-primary" data-toggle="collapse" data-target="#collapseInternal" aria-expanded="false" aria-controls="collapseExample" type="button" placeholder="Internal Notes" value="Internal Notes" />
                    </div>
                </div>
            </div>
            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                <div class="collapse" id="collapsecontact">
                    <div class="card card-body">
                        <input id="Button4" class="btn btn-primary" type="button" placeholder="ADD" value="ADD" />
                    </div>
                </div>
            </div>
            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                <div class="collapse col-sm-12" id="collapseSales">
                    <div class="card card-body">
                        <div class="row">
                                <div class="col-sm-6">
                                    <label for="">Sales</label>
                                    <div class="row">
                                            <div class="col-sm-4">
                                                <label for="">Salesperson</label>
                                                <label for="">Payment Terms</label>
                                            </div>
                                            <div class="col-sm-8">
                                                    <div class="row">
                                                        <select class="form-control"></select>
                                                    </div>
                                                    <div class="row">
                                                        <select class="form-control"></select>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="">Purchase</label>
                                    <div class="row">
                                            <div class="col-sm-6">
                                                <label for="">Payment Terms</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control"></select>
                                            </div>
                                    </div>
                                    
                                </div>
                        </div>
                        <div class="card card-body">
                                <div class="row">
                                        <div class="col-sm-6">
                                            <label for="">Fiscal Information</label>
                                            <div class="row"><div class="col-sm-6">
                                                        <label for="">Fiscal Position</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select class="form-control"></select>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="">Misc</label>
                                            <div class="row">
                                                    <div class="col-sm-6">
                                                        <label for="">Reference</label>
                                                        <label for="">Industry</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <input type="text" name="Reference" class="form-control" id="Tags" placeholder="" style="height:30px;" autocomplete="off" />
                                                        </div>
                                                        <div class="row">
                                                            <select class="form-control"></select>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                <div class="collapse col-sm-12" id="collapseAccounting">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="">Bank Accounts</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="">Bank</label>
                                        <label for="">Account No</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" name="Salesperson" class="form-control" id="Tags" placeholder="Tags" style="height:30px;" autocomplete="off" />
                                        <select class="form-control" ></select>
                                        <input type="text" name="Paymentterms" class="form-control" id="Tags" placeholder="Tags" style="height:30px;" autocomplete="off" />
                                    </div>
                                </div>
                                <button>Add</button>
                            </div>
                            <div class="col-sm-6">
                                <label for="">Accounting Entries</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="">Account Receivable</label>
                                        <label for="">Account Payable</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <input type="text" name="accountr" class="form-control" id="Tags" placeholder="" style="height:30px;" autocomplete="off" />
                                            <select class="form-control"></select>
                                        </div>
                                        <div class="row">
                                            <select class="form-control"></select>
                                            <input type="text" name="accountp" class="form-control" id="Tags" placeholder="" style="height:30px;" autocomplete="off" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                <div class="collapse col-sm-12" id="collapseInternal">
                    <h1>
                    <input type="text" name="internalnote" class="form-control" id="Tags" placeholder="Internal note...." style="height:30px;" autocomplete="off" />
                    </h1>
                    <b class="hr"></b>
                </div>
            </div>
            <div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
                <button type="submit" id="register" class="btn btn-success">SAVE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">DISCARD</button>
            </div>
        </div>
    </div>
</form>
   