@page
@model AccountingSystem.Pages.Vendors.bill.EditbillsModel
@{

    <style type="text/css">
        .h-divider {
            margin-top: 5px;
            margin-bottom: 5px;
            height: 1px;
            width: 100%;
            border-top: 1px solid gray;
        }
    </style>
}
<div class="modal-content hold-transition login-page" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px; max-width: 100%;" role="document">
    <div class="row m-1">Bills/New</div>
    <div class="row m-1">
        <button type="submit" name="register" class="btn btn-success">SAVE</button>
        <a class="btn btn-danger" asp-page="./Listbill">DISCARD</a>
    </div>
    <div class="row m-1">
        <div class="h-divider"></div>
    </div>
    <div class="row m-1">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CONFIRM</button>
        @*<button type="button" class="btn btn-danger" data-dismiss="modal">DISCARD</button>*@
    </div>
</div>
<div class="row" style="height:10px;">

</div>
<div class="modal-content hold-transition login-page" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px; max-width: 100%;" role="document">
    <form method="post">
        @*< class="modal-content hold-transition login-page">*@
        <div class="modal-body m-0">

            <div class="row">
                <div class="form-group mt-1">
                    <label for="" style="color:green"><b>Vendor Bill</b></label>
                </div>
            </div>
            <div class="row">
                <div class="row col-sm-8">
                    <div class="card card-body">
                        <div class="row">
                            <input type="text" name="Refund" class="form-control" placeholder="Bill No" style="height:30px;" autocomplete="off" />
                        </div>
                        <div class="row">
                            <div class="h-divider"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="row m-0">
                        <label for="" style="color:green">Vendor</label>
                    </div>
                    <div class="row m-0">
                        <label for="" style="color:green">Bill Reference</label>
                    </div>
                    <div class="row m-0">
                        <label for="" style="color:green">Payment Reference</label>
                    </div>
                    <div class="row m-0">
                        <label for="" style="color:green">Recipient Bank</label>
                    </div>
                    <div class="row m-0">
                        <label for="" style="color:green">Auto-Complete</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <select class="form-control"></select>
                    </div>
                    <div class="row">
                        <input type="text" name="Vendor" class="form-control" placeholder="Vendor..." style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="row">
                        <input type="text" name="Bill" class="form-control" placeholder="Bill Re..." style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="row">
                        <select class="form-control"></select>
                    </div>
                    <div class="row">
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row m-0">
                        <label for="" style="color:green">Bill Date</label>
                    </div>
                    <div class="row m-0">
                        <label for="" style="color:green">Accounting Date</label>
                    </div>
                    <div class="row m-0">
                        <label for="" style="color:green">Due Date</label>
                    </div>
                    <div class="row m-0">
                        <label for="" style="color:green">Journal</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <select class="form-control"></select>
                    </div>
                    <div class="row">
                        <select class="form-control"></select>
                    </div>
                    <div class="row m-0">
                        <div class="col-sm-4">
                            <select class="form-control"></select>
                        </div>Or
                        <div class="col-sm-4">
                            <select class="form-control"></select>
                        </div>
                    </div>
                    <div class="row">
                        <select class="form-control"></select>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-invers">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <div class="row">
                        <li class="btn btn-primary" data-toggle="collapse" data-target="#collapseInvoice" aria-expanded="false" aria-controls="collapseExample" type="button">Invoice Lines</li>
                        <li class="btn btn-primary" data-toggle="collapse" data-target="#collapseJournal" aria-expanded="false" aria-controls="collapseExample" type="button">Journal Items</li>
                        <li class="btn btn-primary" data-toggle="collapse" data-target="#collapseOther" aria-expanded="false" aria-controls="collapseExample" type="button">Other Info</li>
                </div>
                </ul>
        </div>
        </nav>
        <div class=collapse col-sm-12" id="collapseInvoice">
            <div class="card card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <b>Product</b>
                    </div>
                    <div class="col-sm-2">
                        <b>Label</b>
                    </div>
                    <div class="col-sm-2">
                        <b>Account</b>
                    </div>
                    <div class="col-sm-2">
                        <b>Quantity</b>
                    </div>
                    <div class="col-sm-2">
                        <b>Taxes</b>
                    </div>
                    <div class="col-sm-2">
                        <b>Taxes</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" name="Product" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="Label" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="Account" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="Quantity" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="Price" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="Taxes" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                </div>
                <div class="row" style="height:10px;">

                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button type="submit" style="height:30px;" id="register" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=collapse col-sm-12" id="collapseJournal">
            <div class="card card-body">
                <div class="row">
                    <div class="col-sm-3">
                        Account
                    </div>
                    <div class="col-sm-2">
                        Label
                    </div>
                    <div class="col-sm-2">
                        Debit
                    </div>
                    <div class="col-sm-2">
                        Credit
                    </div>
                    <div class="col-sm-3">
                        Tax Grids
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" name="Account" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="Label" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="Debit" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="Credit" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="Tax" class="form-control" style="height:30px;" autocomplete="off" />
                    </div>
                </div>
                <div class="row" style="height:10px;">

                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button type="submit" style="height:30px;" id="register" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=collapse col-sm-12" id="collapseOther">
            <div class="card card-body">
                <label><b>Accounting</b></label>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="form-control">
                                Incoterm
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-control">
                                Fiscal Position
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-control">
                                Post Automatically
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-control">
                                To Check
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <select class="form-control"></select>
                        </div>
                        <div class="row">
                            <select class="form-control"></select>
                        </div>
                        <div class="row">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="Post">
                            </label>
                        </div>
                        <div class="row">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="ToCheck">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>