@page
@model AccountingSystem.Pages.Customers.EditCustomerModel
@{
}
<form method="post">
    @*< class="modal-content hold-transition login-page">
    <div class="modal-header" style="background-color:#467fd0;color:white;text-align:center">
            <h5 class="modal-title w-100 text-center">Customer Registration Form</h5>
        </div>*@
    <div class="modal-body">
        <div class="col-sm-4">
            <div class="col-md-10">
                <input id="Gender" name="Gender" value="Individual" type="radio">
                Individual
                <input id="Gender" name="Gender" value="Company" type="radio">
                Company
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Name" style="height:30px;" autocomplete="off" />
            </div>
        </div>
        <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
            <div class="col-sm-1">
                <div class="form-group">
                    <label for="">Adress</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                    <div class="col-sm-12">
                        <div class="form-group">

                            <input type="text" class="form-control" id="idno" placeholder="Street..." style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">

                            <input type="text" class="form-control" id="idno" placeholder="Street2..." style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="idno" placeholder="City..." style="height:30px;" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">

                                        <input type="text" class="form-control" id="idno" placeholder="State..." style="height:30px;" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Zip" style="height:30px;" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Country" style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="">Phone</label>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="">Mobile</label>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="">Email</label>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="">Website Link</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                    <div class="col-sm-12">
                        <div class="form-group">

                            <input type="text" class="form-control" id="idno" placeholder="Phone" style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">

                            <input type="text" class="form-control" id="idno" placeholder="Mobile" style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Website Link" style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Tax ID</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">

                        <input type="text" class="form-control" id="idno" placeholder="e.g BE0477472701" style="height:30px;" autocomplete="off" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Tags</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">

                        <input type="text" class="form-control" id="idno" placeholder="Tags" style="height:30px;" autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
            <div class="col-sm-0">
                <div class="form-group">
                    <input id="Button1" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" type="button" placeholder="Contact & Addresses" value="Contact & Addresses" />
                </div>
            </div>
            <div class="col-sm-0">
                <div class="form-group">

                    <input id="Button2" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" type="button" placeholder="Sales & Purchase" value="Sales & Purchase" />
                </div>
            </div>
            <div class="col-sm-0">
                <div class="form-group">
                    <input id="Button3" class="btn btn-primary" type="button" placeholder="Accounting" value="Accounting" />
                </div>
            </div>
            <div class="col-sm-0">
                <div class="form-group">

                    <input id="Button4" class="btn btn-primary" type="button" placeholder="Internal Notes" value="Internal Notes" />
                </div>
            </div>
        </div>
        <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
            <div class="collapse" id="collapseExample">
                  
            </div>
        </div>


        <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Sales</label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Salesperson</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Payment Terms</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Fiscal Information</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Fiscal Position</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                    <div class="col-sm-12">
                        <div class="form-group">


                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">

                            <input type="text" class="form-control" id="salesperson" placeholder="Mobile" style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Website Link" style="height:30px;" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
            <button type="submit" id="register" class="btn btn-success">SAVE</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">DISCARD</button>
        </div>
    </div>
</form>
