@page
@model AccountingSystem.Pages.Customers.EditCustomerPaymentsModel
@{

}
<form method="post">
    @*< class="modal-content hold-transition login-page">
        <div class="modal-header" style="background-color:#467fd0;color:white;text-align:center">
                <h5 class="modal-title w-100 text-center">Customer Registration Form</h5>
            </div>*@
    <div class="container-fluid">
        <div class="card border-primary mt-3">
            <div class="card-header border-primary"><strong>Payments</strong></div>
            <div class="card-body">
                <div class="row">
                    <div class="column">

                        <label for="firstName" style="margin-left:100px;">Payment Type</label>

                    </div>
                    <div class="column"></div>
                    <input name="firstName" style="margin-left:100px;" id="firstName" class="required" type="radio">
                    Send Money
                    <div class="column">
                        <label for="firstName" style="margin-left:275px;">Journal</label>

                    </div>
                    <div class="column">
                        <select style="width:209px;margin-left:150px;height:25px;margin-top:5px;" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <input name="firstName" style="margin-left:300px;" id="firstName" class="required" checked="checked" type="radio"> Receive Money
                    </div>
                    <div class="column">
                        <label for="firstName" style="margin-left:250px;">Recipient Bank Account</label>
                    </div>
                    <div class="column">
                        <select style="width:209px;margin-left:37px;height:25px;margin-top:5px;" class="form-control">
                        </select>
                    </div>
                    <div class="column"></div>
                </div>
                <div class="row">
                    <div class="column">

                        <label for="firstName" style="margin-left:100px;">Partner Type</label>

                    </div>
                    <div class="column"></div>
                    <select style="width:209px;margin-left:110px;height:25px;margin-top:5px;" class="form-control">
                    </select>
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
                <div class="row">
                    <div class="column">

                        <label for="firstName" style="margin-left:100px;">Customer/Vendor</label>

                    </div>
                    <div class="column"></div>
                    <select style="width:209px;margin-left:73px;height:25px;margin-top:5px;" class="form-control">
                    </select>
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
                <div class="row">
                    <div class="column">

                        <label for="firstName" style="margin-left:100px;">Destination Account</label>

                    </div>
                    <div class="column"></div>
                    <select style="width:209px;margin-left:55px;height:25px;margin-top:5px;" class="form-control">
                    </select>
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
                <div class="row">
                    <div class="column">

                        <label for="firstName" style="margin-left:100px;">Is Internal Transfer</label>

                    </div>
                    <div class="column"></div>
                    <input name="firstName" style="margin-left:70px;" id="firstName" class="required" type="checkbox">
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
                <div class="row">
                    <div class="column">

                        <label for="firstName" style="margin-left:100px;">Amount</label>

                    </div>
                    <div class="column"></div>
                    <input name="firstName" style="margin-left:140px;" id="firstName" value="$0.00" class="required" type="text">
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
                <div class="row">
                    <div class="column">

                        <label for="firstName" style="margin-left:100px;">Date</label>

                    </div>
                    <div class="column"></div>
                    <select style="width:209px;margin-left:163px;height:25px;margin-top:5px;" class="form-control">
                    </select>
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
                <div class="row">
                    <div class="column">

                        <label for="firstName" style="margin-left:100px;">Memo</label>

                    </div>
                    <div class="column"></div>
                    <input name="firstName" style="margin-left:150px;" id="firstName" class="required" type="text">
                    <div class="column"></div>
                    <div class="column"></div>
                </div>


                <div class="card-footer">
                    <div class="row">
                        <div class="column">
                            <button id="btnsavep" style="margin-left:850px;"  class="btn btn-primary">SAVE</button>
                        </div>

                        <div class="column">
                            <button id="btndiscard" style="margin-left:10px;" class="btn btn-primary">DISCARD</button>
                        </div>
                    </div>
                </div>

            </div>
            </div>
                </div>
</form>
